body {
    background-color: aquamarine;
    max-width: 100%;
    max-height: 100%;
}

#back-to-notes {
    float:left;
    position:fixed;
    opacity: 80%;
}

#information {
    text-align: center;
    border-bottom: 2px solid black;
}

#tips {
    color: red;
    text-decoration: underline;
}

#question1, 
#question2, 
#question3, 
#question4, 
#question5, 
#question6, 
#question7, 
#question8, 
#question9, 
#question10 {
    text-align: center;
}

#question1 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question2 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question3 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question4 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question5 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question6 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question7 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question8 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question9 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question10 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#check-the-answers {
    text-align: center;
    color:blueviolet
}

button {
    background-color: antiquewhite;
    display: block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 10px;
    /* Add transition effect for background color */
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #0056b3; /* Darker shade when hovered */
}

#results {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}