body {
    background-color: aquamarine;
    max-width: 100%;
    max-height: 100%;
}

#information {
    text-align: center;
    border-bottom: 2px solid black;
}

#question1, #question2, #question3 {
    text-align: center;
}

#question1 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question2 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

#question3 {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

button {
    background-color: antiquewhite;
    display: block;
    ;
}